<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Update Car</title>
  </head>
  <body>
    <h1>Update Car</h1>
    <% if (error) { %>
    <p><%= error %></p>
    <% } %>
    <form action="/api/cars/update/<%= car.id %>" method="post">
      <input type="text" name="make" value="<%= car.make %>" required />
      <input type="text" name="model" value="<%= car.model %>" required />
      <input type="number" name="year" value="<%= car.year %>" required />
      <button type="submit">Update Car</button>
    </form>
  </body>
</html>
